@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-mid-12">
        <h2 class="text-center"> Categories</h2>
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-mid-12">
        <h2 class="text-center"> Suggested items.</h2>
        <hr />
    </div>
</div>

